body {
    background-color: rgb(10, 10, 39);
}
h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    color: white;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    color: white;
}
button {
    background-color: turquoise;
    padding: 30px;
    border-radius: 25px;
    border-width: 10px;
    border-color: teal;
}
.player-buttons button:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgb(43, 179, 179);
}
.computer-buttons {
    cursor: not-allowed;
    pointer-events: none;
}
.score-tally {
    display: flex;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.far {
    font-size: 30px;
}